html, body {
  width: 100%;
}
.navbar {
  font-size: 1.9rem;
  font-weight: 700;
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.9rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.brand-logo {
  width: 128px;
  height: auto;
  border-radius: 50%;
}

body {
  min-height: 100vh;
  background:
    radial-gradient(circle at 20% 30%, #ffebeb, transparent 40%),
    radial-gradient(circle at 80% 70%, #e0f8ff, transparent 40%),
    #fef5f5;
  background-size: 200% 200%;
  animation: layers 5s ease-in-out infinite;
}

@keyframes layers {
  0%   { background-position: 0% 0%, 100% 100%; }
  50%  { background-position: 100% 0%, 0% 100%; }
  100% { background-position: 0% 0%, 100% 100%; }
}

.main {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.languages li {
    font-size: 1.7rem;
    display: inline;
}

.languages img {
    width: 40px;
    height: 40px;
    object-fit: contain; /* keeps logo ratio */
}

.section1 {
    padding: 0rem 4rem 0rem 4rem;
}

.sectionwork {
    padding: 3rem 4rem 0rem 4rem;
    font-weight: bold;
}
.work1 {
    padding: 0rem 4rem 0rem 4rem;
}

.work2 {
    padding: 2rem 4rem 0rem 4rem;
}

section {
    padding: 3rem 3rem 0rem 2rem;
}
.send:hover {
    background-color: #6cdd6c;
}
.emailbutton {
    padding: 3rem 4rem 2rem 4rem;
}
.skills {
    font-weight: bold;
}
.images {
  display: flex;
  gap: 1rem;
  padding: 0rem 1rem 2rem 1rem;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.images img {
  flex: 0 0 auto;
  height: 260px;
  width: auto;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .brand-logo {
    width: 60px;
  }
}
@media (max-width: 768px) {
  section {
    padding-left: 0.9rem;
  }
  .languages li {
    font-size: 1.1rem;
    display: inline;
  }

  .languages img {
    width: 30px;
    height: 30px;
    object-fit: contain; /* keeps logo ratio */
  }  
  .navbar {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .main {
    font-size: 1.1rem;
  }
  .section1,
  .sectionwork,
  .work1,
  .work2,
  .emailbutton {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }
}




